<!DOCTYPE html>
<html lang="es">
<head>  
    <meta charset="UTF-8">
    <title>Formulario</title>
    <link rel="icon" href="{{ url_for('static', filename='images/ITP.ICO') }}" type="image/x-icon">
</head>
<body>
    <h1>Formulario de Inspección</h1>
        
    <form action="/procesar" method="POST">
        <label>
            <input type="radio" name="Unidad" value="Pulgadas" checked> Pulgadas
        </label><br>
        <label>
            <input type="radio" name="Unidad" value="Milimetros"> Milimetros
        </label><br>

        <label>Ingresa el valor uno:</label>
        <input type="text" name="valor1" required>

        <button type="submit">Enviar</button>
    </form>

    {% if error %}
        <p style="color:red;">{{ error }}</p>
    {% endif %}
</body>
</html>
